body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #2c2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    text-align: center;
    flex-direction: column;
}

h1 {
    font-size: 14vw; /* Changed from rem to vw */
    font-size: clamp(14px, 14vw, 14rem); /* Limit maximum font size */
    margin-bottom: 20px;
    font-family: 'Brush Script MT', cursive;
}

#social-links ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#social-links li {
    margin: 10px;
}

#social-links a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
}

#social-links a img:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #0073e6;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 18vw;
    }

    #social-links a img {
        width: 30px;
        height: 30px;
    }
}
